# Imports & settings

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sys
import os
from pathlib import Path
import warnings

warnings.simplefilter(action='ignore', category=pd.errors.PerformanceWarning)
RAW_DATA_PATH = Path("/home/admin/code/arnaud-odet/7_PhD/Roster/raw_data/muniz_data")
PREPROC_DATA_PATH = Path("/home/admin/code/arnaud-odet/7_PhD/Roster/preproc_data")

sys.path.insert(0, os.path.abspath('..'))

%reload_ext autoreload
%autoreload 2

# Data loading

In [5]:
os.listdir(RAW_DATA_PATH)

['MasterClutch.csv',
 'MasterScore.csv',
 'MasterMisc.csv',
 'Augmented_MasterClutch.csv',
 'MasterDefense.csv',
 'MasterPass.csv',
 'MasterRebound.csv']

In [7]:
data = {f[6:-4] : pd.read_csv(RAW_DATA_PATH / f, index_col=0) for f in os.listdir(RAW_DATA_PATH) if 'Clutch' not in f}
for k,v in data.items():
    print(k)
    display(v.head(3))

Score

,pidSzn,EFG_PCT,TS_PCT,USG_PCT,MIN,GP,Season,DD2,TD3,PTS_OFF_TOV,...,POST_TOUCH_PTS,POST_TOUCH_FG_PCT,ELBOW_TOUCH_PTS,ELBOW_TOUCH_FG_PCT,FG2A_FREQUENCY,FG2A,FG2_PCT,FG3A_FREQUENCY,FG3A,FG3_PCT
0,201985_2014-15,0.427,0.451,0.218,12.6,26,2014-15,0,0,1.1,...,0.1,1.000,0.1,0.500,0.568,2.88,0.480,0.432,2.19,0.263
1,201166_2014-15,0.495,0.534,0.246,23.3,82,2014-15,1,0,0.8,...,0.0,0.000,0.2,0.455,0.597,5.54,0.485,0.403,3.74,0.394
2,203932_2014-15,0.478,0.517,0.151,17.2,47,2014-15,1,0,1.3,...,0.1,0.333,0.4,0.667,0.751,3.09,0.552,0.249,1.02,0.271

Misc

,pidSzn,OFF_LOOSE_BALLS_RECOVERED,DEF_LOOSE_BALLS_RECOVERED,LOOSE_BALLS_RECOVERED,MIN,GP,Season,PFD,DRIVE_PF,DRIVE_PF_PCT,DIST_MILES,DIST_MILES_OFF,DIST_MILES_DEF,AVG_SPEED,AVG_SPEED_OFF,AVG_SPEED_DEF
0,201985_2014-15,0.0,0.0,0.0,12.6,26,2014-15,1.2,0.2,0.040,0.89,0.50,0.39,4.29,4.57,3.98
1,201166_2014-15,0.0,0.0,0.0,23.3,82,2014-15,1.8,0.5,0.047,1.58,0.87,0.71,4.15,4.48,3.81
2,203932_2014-15,0.0,0.0,0.0,17.2,47,2014-15,1.1,0.2,0.087,1.26,0.67,0.58,4.46,4.95,4.02

Defense

,pidSzn,MIN,GP,Season,STL,BLK,DEF_RIM_FGM,DEF_RIM_FGA,DEF_RIM_FG_PCT,FREQ,...,D_FGA,D_FG_PCT,PCT_PLUSMINUS,OPP_PTS_2ND_CHANCE,OPP_PTS_FB,OPP_PTS_PAINT,DEFLECTIONS,CHARGES_DRAWN,CONTESTED_SHOTS_2PT,CONTESTED_SHOTS_3PT
0,201985_2014-15,12.4,26,2014-15,0.3,0.0,0.3,0.4,0.700,1.0,...,4.23,0.462,0.043,2.8,2.6,11.1,0.0,0.0,0.0,0.0
1,201166_2014-15,23.0,82,2014-15,0.7,0.2,0.6,0.9,0.693,1.0,...,7.63,0.428,0.003,6.4,5.7,18.7,0.0,0.0,0.0,0.0
2,203932_2014-15,17.0,47,2014-15,0.4,0.5,0.9,1.5,0.577,1.0,...,6.20,0.407,-0.041,4.2,4.0,15.0,0.0,0.0,0.0,0.0

Pass

,pidSzn,SCREEN_ASSISTS,SCREEN_AST_PTS,PAINT_TOUCH_PASSES,PAINT_TOUCH_PASSES_PCT,PAINT_TOUCH_AST,PAINT_TOUCH_AST_PCT,PAINT_TOUCH_TOV,PAINT_TOUCH_TOV_PCT,PAINT_TOUCHES,...,TIME_OF_POSS,AVG_SEC_PER_TOUCH,AVG_DRIB_PER_TOUCH,MIN,GP,Season,AST_PCT,AST_TO,AST_RATIO,TOV
0,201985_2014-15,0.0,0.0,0.1,0.286,0.0,0.000,0.1,0.286,0.3,...,2.9,5.67,5.92,12.4,26,2014-15,0.254,3.29,22.2,0.5
1,201166_2014-15,0.0,0.0,0.2,0.394,0.0,0.000,0.0,0.061,0.4,...,4.8,5.37,5.82,23.0,82,2014-15,0.245,1.66,20.0,1.9
2,203932_2014-15,0.0,0.0,0.3,0.181,0.0,0.012,0.0,0.024,1.8,...,0.7,1.94,1.17,17.0,47,2014-15,0.064,0.87,10.8,0.8

Rebound

,pidSzn,MIN,GP,Season,OREB_UNCONTEST,OREB_CONTEST_PCT,OREB_CHANCES,OREB_CHANCE_PCT,OREB_CHANCE_DEFER,DREB_CONTEST,...,AVG_DREB_DIST,OFF_BOXOUTS,DEF_BOXOUTS,BOX_OUTS,BOX_OUT_PLAYER_TEAM_REBS,BOX_OUT_PLAYER_REBS,PCT_BOX_OUTS_OFF,PCT_BOX_OUTS_DEF,PCT_BOX_OUTS_TEAM_REB,PCT_BOX_OUTS_REB
0,201985_2014-15,12.4,26,2014-15,0.2,0.167,0.8,0.300,0.0,0.3,...,11.7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,201166_2014-15,23.0,82,2014-15,0.2,0.375,1.9,0.209,0.1,0.2,...,10.3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,203932_2014-15,17.0,47,2014-15,0.2,0.739,2.3,0.418,0.1,0.8,...,5.8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
data['Score']['Season'].unique()

array(['2014-15', '2015-16', '2016-17', '2017-18', '2018-19', '2019-20'],
      dtype=object)